/* styles.css */
html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}
a{
    font-family: "Merriweather", sans-serif;
}

body.home {
    background-image: url('/static/Bank Trifold Brochure.png');
    background-size: 87% 100%;
    background-position: 250px center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
}

body {
    background: none;
}

.w3-sidebar {
    z-index: 3;
    width: 250px;
    top: 43px;
    bottom: 0;
    height: inherit;
}
