<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}
<div class="w3-main" style="margin:50px">
  <h1>Criar Cliente</h1>
  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <form action="/criacliente" method="post">
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf"><br><br>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome"><br><br>
        <input type="submit" value="Criar Cliente">
      </form>
    </div>
  </div>
  <h1>Listar Clientes</h1>
  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <form action="/listaclientes" method="get">
        <input type="submit" value="Listar Clientes">
      </form>
    </div>
  </div>
  <h1>Listar Cliente</h1>
  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <form action="/listacliente" method="get">
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf"><br><br>
        <input type="submit" value="Listar Cliente">
      </form>
    </div>
  </div>
  <h1>Atualizar Cliente</h1>
  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <form action="/atualizacliente" method="post">
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf"><br><br>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome"><br><br>
        <input type="submit" value="Atualizar Cliente">
      </form>
    </div>
  </div>
  <h1>Deletar Cliente</h1>
  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <form action="/deletacliente" method="post">
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf"><br><br>
        <input type="submit" value="Deletar Cliente">
      </form>
    </div>
  </div>
</div>
{% include "footer.html" %}
</html>