<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}
<div class="w3-main" style="margin:50px">
  <h1>Criar Cliente</h1>
  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <form id="createForm" method="post" style="display: grid; grid-template-columns: 150px 1fr; gap: 20px 10px; align-items: center; width: 50%;">
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="formatted_cpf" maxlength="12">

        <input type="hidden" id="cpf_hidden" name="cpf">
        
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome">
        
        <label for="numero_telefone">Número de Telefone:</label>
        <input type="text" id="telefone" name="formatted_telefone" maxlength="15">

        <input type="hidden" id="telefone_hidden" name="numero_telefone">
        
        <label for="endereco">Endereço:</label>
        <input type="text" id="endereco" name="endereco">
        
        <label for="numero_endereco">Número:</label>
        <input type="text" id="numero_endereco" name="numero_endereco">
        
        <label for="cidade">Cidade:</label>
        <input type="text" id="cidade" name="cidade">
        
        <label for="estado">Estado:</label>
        <input type="text" id="estado" name="estado">
        <div></div>
        <input type="submit" value="Criar Cliente" style="margin-top: 20px; width: 25%; justify-self: end;">
      </form>
    </div>
  </div>
</div>

<script>
  const cpfInput = document.getElementById('cpf');
  const hiddenCpfInput = document.getElementById('cpf_hidden');

  cpfInput.addEventListener('input', function() {
      let cpf = cpfInput.value.replace(/\D/g, '');
      if (cpf.length > 9) {
          cpfInput.value = cpf.slice(0, 9) + '-' + cpf.slice(9, 11);
      } else {
          cpfInput.value = cpf;
      }
  });
</script>

<script>
  const telefoneInput = document.getElementById('telefone');
  const hiddenTelefoneInput = document.getElementById('telefone_hidden');

  telefoneInput.addEventListener('input', function() {
      let telefone = telefoneInput.value.replace(/\D/g, '');
      if (telefone.length > 10) {
          telefoneInput.value = '(' + telefone.slice(0, 2) + ') ' + telefone.slice(2, 7) + '-' + telefone.slice(7, 11);
      } else if (telefone.length > 5) {
          telefoneInput.value = '(' + telefone.slice(0, 2) + ') ' + telefone.slice(2, 7) + '-' + telefone.slice(7);
      } else if (telefone.length > 2) {
          telefoneInput.value = '(' + telefone.slice(0, 2) + ') ' + telefone.slice(2);
      } else {
          telefoneInput.value = telefone;
      }
  });
</script>


<script>
  document.getElementById('createForm').addEventListener('submit', function(e) {
      e.preventDefault();

      const formattedCpf = cpfInput.value.replace(/\D/g, '');
      hiddenCpfInput.value = formattedCpf;

      const formattedTelefone = telefoneInput.value.replace(/\D/g, '');
      hiddenTelefoneInput.value = formattedTelefone;

      const formData = new FormData(this);
  
      fetch('/criacliente', {
          method: 'POST',
          body: formData
      })
      .then(response => response.json())
      .then(data => {
          if (data.status === 'error') {
              alert(data.message);
          } else if (data.status === 'success') {
              alert(data.message);
              window.location.href = data.redirect_url;
          }
      })
      .catch(error => console.error('Error:', error));
  });
</script>
{% include "footer.html" %}
</html>