<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}

<div class="w3-main" style="margin-left:0px; padding-top: 50px; display: flex; justify-content: center;">

    <div style="width: 50%;">

        <h1 class="w3-container">Cliente</h1>
        
        <div class="w3-container w3-margin-top" id="optionsContainer">
            <div class="w3-card-4 w3-margin w3-padding w3-light-grey option-item" style="padding: 16px;">
                <h2 style="font-size: 18px; margin-bottom: 10px;">Nome: {{ cliente.nome }}</h2>
                <h3 style="font-size: 14px; margin: 5px 0;">CPF: {{ cliente.cpf }}</h3>
                <p style="font-size: 14px; margin: 5px 0;">Número de Telefone: {{ cliente.numero_telefone }}</p>
                <p style="font-size: 14px; margin: 5px 0;">Endereço: {{ cliente.endereco }}</p>
                <p style="font-size: 14px; margin: 5px 0;">Número: {{ cliente.numero_endereco }}</p>
                <p style="font-size: 14px; margin: 5px 0;">Cidade: {{ cliente.cidade }}</p>
                <p style="font-size: 14px; margin: 5px 0;">Estado: {{ cliente.estado }}</p>
    
                <form action="/editacliente" method="POST" style="display: inline;">
                    <input type="hidden" name="cpf" value="{{ cliente.cpf }}">
                    <button type="submit" class="w3-button w3-theme" style="font-size: 14px;">Editar</button>
                </form>
    
                <form action="/deletacliente" method="POST" style="display: inline;">
                    <input type="hidden" name="cpf" value="{{ cliente.cpf }}">
                    <button type="submit" class="w3-button w3-red" style="font-size: 14px; margin-left: 8px;">Deletar</button>
                </form>
    
            </div>
        </div>

    </div>

</div>
{% include "footer.html" %}
</html>