<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}
<div class="w3-main" style="margin:50px">
    <h1>Contas</h1>
    <table border="1">
        <tr>
            <th>CPF Cliente</th>
            <th>Valor</th>
            <th>Juros</th>
            <th>Data de emissão</th>
            <th>Data de Vencimento</th>
            <th>Data de pagamento:</th>
        </tr>
        
        {% for conta in contas %}
        <tr>
            <td>{{ conta.cliente_cpf }}</td>
            <td>{{ conta.valor }}</td>
            <td>{{ conta.juros }}</td>
            <td>{{ conta.data_emissao }}</td>
            <td>{{ conta.data_vencimento }}</td>
            <td>{{ conta.data_pagamento }}</td>
        </tr>
        {% endfor %}

        
    </table>

</div>
{% include "footer.html" %}
</body>
</html>