{% include "header.html" %}
<div class="w3-main" style="margin-left:250px; padding-top: 50px; display: flex;">
  
  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container" style="margin-left: 100px;">
      <h1 style="margin-bottom: 20px;">Criar Cliente:</h1>
      <form id="createForm" method="post" style="display: grid; grid-template-columns: 150px 1fr; gap: 20px 10px; align-items: center; width: 50%;">
        
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="formatted_cpf" maxlength="12">

        <input type="hidden" id="cpf_hidden" name="cpf">
        
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome">
        
        <label for="numero_telefone">Número de Telefone:</label>
        <input type="text" id="telefone" name="formatted_telefone" maxlength="15">

        <input type="hidden" id="telefone_hidden" name="numero_telefone">
        
        <label for="endereco">Endereço:</label>
        <input type="text" id="endereco" name="endereco">
        
        <label for="numero_endereco">Número:</label>
        <input type="text" id="numero_endereco" name="numero_endereco">
        
        <label for="cidade">Cidade:</label>
        <input type="text" id="cidade" name="cidade">
        
        <label for="estado">Estado:</label>
        <input type="text" id="estado" name="estado">
        <div></div>
        <input type="submit" value="Criar Cliente" style="margin-top: 20px; width: 55%; justify-self: end;">
      </form>
    </div>
  </div>
</div>

{% include "cpf_format.html" %}
{% include "telefone_format.html" %}


<script>
  document.getElementById('createForm').addEventListener('submit', function(e) {
      e.preventDefault();

      const formattedCpf = cpfInput.value.replace(/\D/g, '');
      hiddenCpfInput.value = formattedCpf;

      const formattedTelefone = telefoneInput.value.replace(/\D/g, '');
      hiddenTelefoneInput.value = formattedTelefone;

      const formData = new FormData(this);
  
      fetch('/Clientes/criacliente', {
          method: 'POST',
          body: formData
      })
      .then(response => response.json())
      .then(data => {
          if (data.status === 'error') {
              alert(data.message);
          } else if (data.status === 'success') {
              alert(data.message);
              window.location.href = data.redirect_url;
          }
      })
      .catch(error => console.error('Error:', error));
  });
</script>
{% include "footer.html" %}