<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projeto Sistemas Web</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body class="{{ 'home' if request.path == '/' else '' }}">

  <!-- Navbar -->
  <div class="w3-top">
    <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
      <a href="/" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Projeto Sistemas Web</a>
      <!-- <a href="/contas" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contas</a>
      <a href="/clientes" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Clientes</a>  -->
    </div>
  </div>

  <!-- Sidebar -->
  <nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar" style="width:250px; background-color: #f1f1f1;">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
      <i class="fa fa-remove"></i>
    </a>
    <h4 class="w3-bar-item"><b>Cliente</b></h4>
    <a class="w3-bar-item w3-button w3-hover-black" href="/Clientes/listaclientes">Clientes</a>
    <br><br>
    <h4 class="w3-bar-item"><b>Contas</b></h4>
    <a class="w3-bar-item w3-button w3-hover-black" href="/Contas/listacontas">Contas</a>
    <a class="w3-bar-item w3-button w3-hover-black" href="/Contas/listacredores">Listar Credores</a>
    <a class="w3-bar-item w3-button w3-hover-black" href="/Contas/">Temp Contas</a>    
  </nav>
